name: build_test
on:
  pull_request:
env:
  MYNAME: hinoshiba
jobs:
  builder:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - IMGNAME: workbench
          - IMGNAME: golang
          - IMGNAME: rust
          - IMGNAME: python
          - IMGNAME: node
          - IMGNAME: research
          - IMGNAME: cvemaker
    steps:
      - name: Checkout from repository.
        uses: actions/checkout@v2
      - name: Fetch master
        run: git fetch origin master
      - name: has diff for the image ?
        id: diff_check
        run: |
          #git diff --name-only origin/master HEAD | grep -e "dockerfiles/${{matrix.IMGNAME}}" -e "version/${{matrix.IMGNAME}}"
          exit 0
        continue-on-error: true
      - name: Get LANG_TYPE
        id: LANG
        run: |
          echo "TYPE=$(cat dockerfiles/${{matrix.IMGNAME}}/Dockerfile | grep FROM | head -n1 | sed -n 's/^FROM \([^:]*\):.*$/\1/p')" >> "$GITHUB_OUTPUT"
          echo "TAG=$(cat dockerfiles/${{matrix.IMGNAME}}/Dockerfile | grep FROM | head -n1 | sed -n 's/^.*\${\([^}]*\)}.*$/\1/p')" >> "$GITHUB_OUTPUT"
        if: steps.diff_check.outcome == 'success'
      - name: Get Version
        id: VERSION
        run: |
          echo "TARGET=$(cat version/${{ steps.LANG.outputs.TYPE }}/${{ steps.LANG.outputs.TAG }})" >> "$GITHUB_OUTPUT"
        if: steps.diff_check.outcome == 'success'
      - name: Set up Docker Buildx.
        uses: docker/setup-buildx-action@v2
        if: steps.diff_check.outcome == 'success'
      - name: Build test (all).
        uses: docker/build-push-action@v2
        with:
          context: dockerfiles/${{matrix.IMGNAME}}
          push: false
          load: false
          platforms: linux/arm64
          build-args: |
            ${{ steps.LANG.outputs.TAG }}=${{ steps.VERSION.outputs.TARGET }}
        if: steps.diff_check.outcome == 'success'
      - name: Build test x64.
        uses: docker/build-push-action@v2
        with:
          context: dockerfiles/${{matrix.IMGNAME}}
          push: false
          load: true
          platforms: linux/amd64
          build-args: |
            ${{ steps.LANG.outputs.TAG }}=${{ steps.VERSION.outputs.TARGET }}
          tags: |
            ${{ env.MYNAME }}/${{ matrix.IMGNAME }}:latest
        if: steps.diff_check.outcome == 'success'
      - name: Run test x64.
        run: |
          # docker run ${{ env.MYNAME}}/${{ matrix.IMGNAME }} ls -lah
          make install
          make target=${{ matrix.IMGNAME }} builder=${{ env.MYNAME }} cmd="ls -lah" start
        if: steps.diff_check.outcome == 'success'
