name: build_cron
on:
  schedule:
    - cron: "0 0 * * 6"
  workflow_dispatch:
env:
  MYNAME: hinoshiba
jobs:
  builder:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - IMGNAME: workbench
          - IMGNAME: research
          - IMGNAME: cvemaker
          - IMGNAME: codex
    steps:
      - name: Get current week-id
        id: date
        run: echo "Weekid=$(date +'%Y%U')" >> "$GITHUB_OUTPUT"
      - name: Checkout from repository.
        uses: actions/checkout@v2
      - name: Get LANG_TYPE
        id: LANG
        run: |
          echo "TYPE=$(cat dockerfiles/${{matrix.IMGNAME}}/Dockerfile | grep FROM | head -n1 | sed -n 's/^FROM \([^:]*\):.*$/\1/p')" >> "$GITHUB_OUTPUT"
          echo "TAG=$(cat dockerfiles/${{matrix.IMGNAME}}/Dockerfile | grep FROM | head -n1 | sed -n 's/^.*\${\([^}]*\)}.*$/\1/p')" >> "$GITHUB_OUTPUT"
      - name: Get Version
        id: VERSION
        run: |
          echo "TARGET=$(cat version/${{ steps.LANG.outputs.TYPE }}/${{ steps.LANG.outputs.TAG }})" >> "$GITHUB_OUTPUT"
      - name: Set up Docker Buildx.
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and Push to Docker Hub.
        uses: docker/build-push-action@v2
        with:
          context: dockerfiles/${{matrix.IMGNAME}}
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ env.MYNAME }}/${{ matrix.IMGNAME }}:latest
            ${{ env.MYNAME }}/${{ matrix.IMGNAME }}:${{ steps.date.outputs.Weekid }}
          build-args: |
            ${{ steps.LANG.outputs.TAG }}=${{ steps.VERSION.outputs.TARGET }}
